
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background-color:#f1e8ff ;
}

.container {
  display: flex;
  flex: 1;
}
.left {
  background-color: #f3ebff;
  flex: 1;
  padding: 20px 40px; /* antes era 40px em tudo */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* move tudo para o topo */
  gap: 20px;
  text-align: center;
}


.tabs {
 
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: center;
  height: 50px;
}

.tab {
  padding: 16px 35px;
  border-radius: 30px;
  border: 2px solid #c2aaf2;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #c2aaf2;
}

.tab a{
  text-decoration: none;
  color: #c2aaf2;
}

.tab.active {
  background-color: #c2aaf2;
  color: white;
  border: none;
}

.welcome {
  margin-top: 100px;
  font-size: 35px;
  font-weight: 700;
  color: #c2aaf2;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 17px;
  width: 100%;
}

.form-group {
  
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 500px;

 
}

.form-group label {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.form-group input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #c2aaf2;
  background-color: transparent;

  color: #000;
  outline: none;

  font-size: 14px;
  height: 50px;
}
.form-group input::placeholder {
  color: black;
}
.login-button {
  margin-top: 20px;
  padding: 16px 24px; /* aumentei o padding */
  background-color: #c2aaf2;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px; /* aumentei o tamanho da fonte */
  cursor: pointer;
  justify-content: center;
}

.register-link {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #a180f3;
}

.register-link a {
  color: #a180f3;
  text-decoration: none;
  font-weight: 500;
}
.right {
  position: relative;
  flex: 1;
  background: url('../img/imglogin.png') center/cover no-repeat;
  min-height: 100vh;
  overflow: hidden;
}
.right::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f3ebff 10%, rgba(243, 235, 255, 0) 60%);
  pointer-events: none;
  z-index: 1;
}

.login-button a{
  text-decoration: none;
  outline: none;
  color: #fff;
}