* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f1e8ff;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* IMAGEM À ESQUERDA */
.left {
  flex: 1;
  background: url('img/imglogin.png') center/cover no-repeat;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #f3ebff 10%, rgba(243, 235, 255, 0) 60%);
  pointer-events: none;
  z-index: 1;
}

/* FORMULÁRIO À DIREITA */
.right {
  flex: 1;
  background-color: #f3ebff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: center;
  height: 50px;
  text-decoration: none;
}

.tab {
  padding: 16px 35px;
  border-radius: 30px;
  border: 2px solid #c2aaf2;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #c2aaf2;
  text-decoration: none;
}

.tab a{
  text-decoration: none;
  color: #c2aaf2;
}

.tab.active {
  background-color: #c2aaf2;
  color: white;
  border: none;
}

.welcome {
  margin-top: 40px;
  font-size: 35px;
  font-weight: 700;
  color: #c2aaf2;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  width: 100%;
}

.form-group {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #c2aaf2;
  background-color: transparent;

  color: #000;
  font-size: 14px;
  height: 50px;
  outline: none;

}

.form-group input::placeholder {
  color: black;
}

.login-button {
  margin-top: 20px;
  padding: 16px 24px;
  background-color: #c2aaf2;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.register-link {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #a180f3;
}

.register-link a {
  color: #a180f3;
  text-decoration: none;
  font-weight: 500;
}
.login-button a{
  text-decoration: none;
  outline: none;
  color: #fff;
}